---
# the lord and saviour http://vay8.net/ebindkeys#downloads (currently seems to be 1.0b)
- name: Putting ebindkeysrc config in place
  ansible.builtin.copy:
    src: ebindkeysrc
    dest: /etc/ebindkeysrc
    owner: root
    group: root
    mode: "0644"
  become: true
  become_user: root

- name: Putting ebindkeysrc binary in place
  ansible.builtin.copy:
    src: ebindkeys-arm-static
    dest: /usr/local/bin/ebindkeys
    owner: root
    group: root
    mode: "0755"
  become: true
  become_user: root

# upstart (thx and fuck you, xbian)
- name: Putting usb_mpc_remote upstart file in place
  ansible.builtin.copy:
    src: usb_mpc_remote.conf
    dest: /etc/init/usb_mpc_remote.conf
    owner: root
    group: root
    mode: "0644"
  when: ansible_facts.service_mgr == "upstart"
  become: true
  become_user: root

- name: Start usb_mpc_remote service
  ansible.builtin.service:
    name: usb_mpc_remote
    state: started
    enabled: true
  when: ansible_facts.service_mgr == "upstart"
  become: true
  become_user: root

# systemd
- name: Install ebindkeys systemd unit file
  ansible.builtin.copy:
    src: ebindkeys.service
    dest: /etc/systemd/system/ebindkeys.service
    owner: root
    group: root
    mode: "0755"
  when: ansible_facts.service_mgr == "systemd"
  become: true
  become_user: root

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  when: ansible_facts.service_mgr == "systemd"
  become: true
  become_user: root

- name: Enable and start ebindkeys service
  ansible.builtin.service:
    name: ebindkeys.service
    state: started
    enabled: true
  when: ansible_facts.service_mgr == "systemd"
  become: true
  become_user: root
