{{ james_on_rpi_os_user }}             ALL=(ALL) NOPASSWD: /etc/init.d/screen-cleanup
{{ james_on_rpi_os_user }}             ALL=(ALL) NOPASSWD: /bin/cp
{{ james_on_rpi_os_user }}             ALL=(ALL) NOPASSWD: /usr/bin/truncate
{{ james_on_rpi_os_user }}             ALL=(ALL) NOPASSWD: /bin/chmod
{{ james_on_rpi_os_user }}             ALL=(ALL) NOPASSWD: /usr/bin/script
{{ james_on_rpi_os_user }}             ALL=(ALL) NOPASSWD: /bin/kill
{{ james_on_rpi_os_user }}             ALL=(ALL) NOPASSWD: {{ james_on_rpi_install_dir }}/venv/bin/python
{{ james_on_rpi_os_user }}             ALL=(ALL) NOPASSWD: {{ james_on_rpi_install_dir }}/venv/bin/python3
{{ james_on_rpi_os_user }}             ALL=(ALL) NOPASSWD: {{ james_on_rpi_install_dir }}/james.py
