{{ james_os_user }}             ALL=(ALL) NOPASSWD: /etc/init.d/screen-cleanup
{{ james_os_user }}             ALL=(ALL) NOPASSWD: /bin/cp
{{ james_os_user }}             ALL=(ALL) NOPASSWD: /usr/bin/truncate
{{ james_os_user }}             ALL=(ALL) NOPASSWD: /bin/chmod
{{ james_os_user }}             ALL=(ALL) NOPASSWD: /usr/bin/script
{{ james_os_user }}             ALL=(ALL) NOPASSWD: /bin/kill
