# Populated config files can be found at http://sf.net/p/lirc-remotes. The
# irdb-get(1) and lirc-setup(1) tools can be used to search and download
# config files.
#
# From 0.9.2 config files could just be dropped as-is in the lircd.conf.d
# directory and be included by this file.

# since pylirc is stupid, this will NOT work for james2 remotes. this is
# why the ansible role is merging the configs at the bottom of this file
include "lircd.conf.d/*.conf"

{% for remote in james2_evdev_remotes | default([]) %}
# content from file {{ remote }}
{% include './files/remotes/' + remote %}
{% endfor %}
